<!DOCTYPE html>
{% load static %}<!--Django-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TDjango Girls blog</title>
    <!--
    <meta name="description" content="ディスクリプション" />
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="タイトル" />
    <meta property="og:image" content="/img/icon.png" />
    <meta property="og:url" content="http://example.net/" />
    <meta property="og:site_name" content="サイト名" />
    <meta property="og:description" content="ディスクリプション" />
    
    <meta name="robots" content="noarchive">
    -->
    <!--CSS Reset-->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <!--コンテンツ用CSS-->

    

    <link rel="shortcut icon" href="/img/favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}"><!--Django-->

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  

    <!--font-->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  </head>
  <body>
        <!--wrapper-->
        <div id="wrapper">
            <!--container-->
            <div id="container">
                <!--header-->
                <header id="header" class="page-header">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %}
                    <h1><a href="/">Django Girls Blog</a></h1>
                </header>
                <!--header END-->
                <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                
          
                <!--footer-->
                <footer>
                    <address>Copyright(C)ここに年 個人名or会社名,Allright Reserved.</address>
                </footer>
                <!--footer END-->
                
            </div>
            <!--container END-->
        </div>
        <!--wrapper END-->
        
        <!--javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--javascript END-->
    </body>
    <!--body END-->
</html>
