<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Template</title>
    <meta name="description" content="ディスクリプション" />
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="タイトル" />
    <meta property="og:image" content="/img/icon.png" />
    <meta property="og:url" content="http://example.net/" />
    <meta property="og:site_name" content="サイト名" />
    <meta property="og:description" content="ディスクリプション" />
    
    <meta name="robots" content="noarchive">
    <!--CSS Reset-->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <!--コンテンツ用CSS-->>
    <link rel="shortcut icon" href="/img/favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
  </head>
  <body>
        <!--wrapper-->
        <div id="wrapper">
            <!--container-->
            <div id="container">
                <!--header-->
                <header id="header">
                    <h1>サイト内におけるタイトル</h1>
                </header>
                <!--header END-->
                
                <div id="branding">
                    <p>Hi there!</p>
                    <p>It works!</p>
                </div>
                               
                <!--footer-->
                <footer>
                    <address>Copyright(C)ここに年 個人名or会社名,Allright Reserved.</address>
                </footer>
                <!--footer END-->
                
            </div>
            <!--container END-->
        </div>
        <!--wrapper END-->
        
        <!--javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--javascript END-->
    </body>
    <!--body END-->
</html>
